[submodule "docs/Interviews"]
	path = docs/Interviews
	url = https://github.com/touchlane/Interviews.git
[submodule "docs/Members"]
	path = docs/Members
	url = https://github.com/touchlane/Members.git
